@import "./_variables.scss";

@mixin btn-decoration {
  display: block;
  background-color: $btn-bg-color-main;
  border: none;
  border-radius: $btn-border-radius;
  color: $btn-color-main;
  padding: $btn-padding;
  cursor: pointer;
  &:not(:disabled):hover {
    background-color: $btn-bg-color-hover;
  }
  &:not(:disabled):active {
    background-color: $btn-bg-color-active;
  }
  &:disabled {
    background-color: $btn-bg-color-disabled;
  }
}
