$btn-bg-color-main: #25a79a;
$btn-bg-color-hover: lighten($btn-bg-color-main, 5%);
$btn-bg-color-active: darken($btn-bg-color-main, 10%);
$btn-bg-color-disabled: gray;

$btn-color-main: #fdfefe;
$btn-padding: 8px;
$btn-border-radius: 4px;

$input-padding: 8px;
$input-border: 1px solid #dedede;
$input-border-radius: 4px;

$text-color-main: #202020;
$bg-color-main: #ffffff;

$bg-color-menu: $bg-color-main;
$bg-color-menu-hover: darken($bg-color-main, 10%);

$bg-color-modal: $bg-color-main;

$table-border-color: #f1f1f1;

$paginator-border-color: $table-border-color;
$paginator-border-radius: $input-border-radius;
$paginator-active-color: #2695ca;

$el-space: 8px;

$container-width-desktop: 1140px;
